.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #000000;
}

h1 {
  margin: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: rgb(245, 207, 20);
}

p {
  font-size: 2rem;
  color: rgb(252, 78, 51);
  font-family: "Lucida Console", "Courier New", monospace;
}

img {
  width: 80%;
}

footer {
  font-size: 25px;
  margin-top: 3%;
  color: #ebeaea;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;

}
